<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
        <h2>
            Welcome to {{ title }}!
        </h2>
    </div>
  </div>
</div>
<div class="container" style="padding-top:50px">
  <div class="row">
    <div class="col-md-12">
      <div class="NewUser" style="text-align:center">
        <p>New user?
          <span><a routerLink="/register"><button class="btn btn-primary"> Register</button></a></span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="Login" style="text-align:center">
        <p>Already Registered?
          <span><a routerLink="/login"><button class="btn btn-primary">Log In</button></a></span>
        </p>
      </div>
    </div>
  </div>
</div>