<form class="form-register" #registerForm="ngForm" appIdentifySame>

  <h2 class="form-register-heading">REGISTER</h2>

  <!-- NAME -->
  <div class="form-group">
    <label for="rgstrName">Name</label>
    <input id="rgstrName" name="rgstrName" placeholder="Name" class="form-control" required [(ngModel)]="name"
      #rgstrName="ngModel">
    <div *ngIf="rgstrName.invalid && (rgstrName.dirty || rgstrName.touched)">
      <div *ngIf="rgstrName.errors.required" class="invalid-feedback">
        Name is required.
      </div>
    </div>
  </div>

  <!-- Email -->
  <div class="form-group">
    <label for="rgstEmail">Email</label>
    <input type="text" id="rgstEmail" name="rgstEmail" placeholder="Email Address" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required [(ngModel)]="email" #rgstEmail="ngModel">

    <div *ngIf="rgstEmail.invalid && (!rgstEmail.pristine || rgstEmail.touched)">
      <div *ngIf="rgstEmail.errors.required" class="invalid-feedback">
        Email is required.
      </div>
      <div *ngIf="rgstEmail.errors.pattern" class="invalid-feedback">
        Email is not valid
      </div>
    </div>
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="rgstrPassword">Password</label>
    <input type="password" id="rgstrPassword" placeholder="Password" class="form-control" name="rgstrPassword"
      minlength="8" #rgstrPassword="ngModel" [(ngModel)]="password" required> 
    <div *ngIf="rgstrPassword.invalid && (rgstrPassword.dirty || rgstrPassword.touched )" class="invalid-feedback">
      <div *ngIf="rgstrPassword.errors.required" class="invalid-feedback">
        Password is required.
      </div>
      <div *ngIf="rgstrPassword.errors.minlength" class="invalid-feedback">
        Password must be 8 characters
      </div>
    </div>
  </div>

  <!-- Confirm Password -->
  <div class="form-group">
    <label for="rgstrCnfrmPassword"> Confirm Password </label>
    <input type="password" id="rgstrCnfrmPassword" placeholder="Confirm Password" class="form-control" name="rgstrCnfrmPassword"
      minlength="8" #rgstrCnfrmPassword="ngModel" [(ngModel)]="confirmPassword" [ngModelOptions]="{ updateOn: 'blur' }">
    <div *ngIf="rgstrCnfrmPassword.invalid && (rgstrCnfrmPassword.dirty || rgstrCnfrmPassword.touched)">

      <div *ngIf="rgstrCnfrmPassword.errors.required" class="invalid-feedback">
        Confirm Password is required.
      </div>

    </div>
    <div *ngIf="registerForm.errors?.identitySame && rgstrCnfrmPassword.dirty " class="invalid-feedback">
      Password Doesn't Match.
    </div>

  </div>
  

  <!-- Addresss -->
  <div class="form-group">
    <div class="rgstr-address">
      <h3>Address</h3>
    </div>
  </div>
  <!-- Street Address 1 -->
  <div class="form-group">
    <label for="rgstrStreet">Street Address</label>
    <input id="rgstrStreet" name="rgstrStreet" placeholder="Street Address" class="form-control" required [(ngModel)]="streetAddress1"
      #rgstrStreet="ngModel">
    <div *ngIf="rgstrStreet.invalid && (rgstrStreet.dirty || rgstrStreet.touched)" class="invalid-feedback">

      <div *ngIf="rgstrStreet.errors.required" class="invalid-feedback">
        Street Address is required.
      </div>
    </div>

  </div>

  <!-- Street Address 2 -->
  <div class="form-group">
    <label for="rgstrStreetO">Street Address (Optional)</label>
    <input id="rgstrStreetO" name="rgstrStreetO" placeholder="Street Address (Optional)" class="form-control"
      [(ngModel)]="streetAddress2" #rgstrStreetO="ngModel">
  </div>

  <!-- City -->
  <div class="form-group">
    <label for="rgstrCity">City</label>
    <input id="rgstrCity" name="rgstrCity" placeholder="Street Address" class="form-control" required [(ngModel)]="city"
      #rgstrCity="ngModel">
    <div *ngIf="rgstrCity.invalid && (rgstrCity.dirty || rgstrCity.touched)">

      <div *ngIf="rgstrCity.errors.required" class="invalid-feedback">
        City is required.
      </div>
    </div>

  </div>

  <!-- State -->
  <div class="form-group">
    <label for="rgstrState">State</label>
    <select class="form-control " id="rgstrState" required>
      <option *ngFor="let state of states" [value]=state>{{state.value}}</option>
    </select>

  </div>

  <!-- Zip Code -->
  <div class="form-group">
    <label for="rgstrZip">Zip Code</label>
    <input id="rgstrZip" type="text" name="rgstrZip" placeholder="Zip Code" class="form-control" required [(ngModel)]="zipCode"
      #rgstrZip="ngModel" pattern="^[0-9]{5}(?:-[0-9]{4})?$">
    <div *ngIf="rgstrZip.invalid && (rgstrZip.dirty || rgstrZip.touched)" class="invalid-feedback">

      <div *ngIf="rgstrZip.errors.required">
        Zip Code is required.
      </div>
      <div *ngIf="rgstrZip.errors.pattern">
        Zip Code is invalid
      </div>
    </div>

  </div>

  <!-- Mobile Number -->
  <div class="form-group">
    <label for="rgstrPhoneNumber">Mobile Number</label>
    <input id="rgstrPhoneNumber" type="text" name="rgstrPhoneNumber" placeholder="Mobile Number" class="form-control"
      required [(ngModel)]="phoneNumber" #rgstrPhoneNumber="ngModel" pattern="^(1\s?)?((\([0-9]{3}\))|[0-9]{3})[\s\-]?[\0-9]{3}[\s\-]?[0-9]{4}$">
    <div *ngIf="rgstrPhoneNumber.invalid && (rgstrPhoneNumber.dirty || rgstrPhoneNumber.touched)" class="invalid-feedback">

      <div *ngIf="rgstrPhoneNumber.errors.required">
        Mobile Number is required.
      </div>
      <div *ngIf="rgstrPhoneNumber.errors.pattern">
        Mobile Number is invalid
      </div>
    </div>
  </div>
  
  <!-- Register Button -->
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="registerForm.invalid" (click)="rgstrMember()">Register</button>
</form>
